
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 100;
    color: #111;
    margin-bottom: 2%;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #2a4963;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #2a4963;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve{
    padding: 10px 20px;
    background: #fb911f;
   margin-top: -10px;
   text-transform:uppercase ;
}

.btn-reserve:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.banniere{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./im.voiture/propos.webp);
    background-size: cover;
}
.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: #fb911f;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #2a4963;
    font-size: 1.8em;
    font-weight: bold;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn3{
    font-size: 1em;
    color: #fff;
    background: #b35005;
    position: absolute;
    border-radius: 25px;
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn3:hover{
    background-color: red;
    letter-spacing: 3px;
}
.btn1:hover{
letter-spacing: 4px;
}
section{
    padding: 50px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.apropos{
    margin-top: 1%;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./im.voiture/Img_propos.png);
    background-size: cover;
}
.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.voitures svg{
    position: absolute;
    margin-top: 5%;
    z-index: -1;
    height: 50%;
    max-height: 1000vh;
    max-width: 190vh;
}
.voitures .contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}
.voitures .contenu svg{
    position: absolute;
    margin-top: 20%;
    width: 100%; 
    text-align: center;
}
.voitures .box {
    width: 400px;
    height: 280px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #f5f5f5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.voitures .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 400px;
}
.voitures .imbox img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #fb911f;
}
.voitures .text h3 {
    text-align: center;
    padding: 10px 0;
    color: #012336;
    font-size: 1.2em;
} 
.voitures .text p {
    text-align: center;
    padding: 25px 0;
    color: #012336;
    font-size: 1em;
} 
.voitures .contenu.box .text{
    bottom: -100%;
}
.voitures.cadre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    border: 0.5px solid #f5f5f5;
    border-radius: 2%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}
.voitures .carte{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}
.voitures .carte .carte-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.voitures .carte .img-carte{
    height: 100%;
    width: 100%;
}
.voitures .contenu .carte .carte-body p{
    color: #fff;
    font-size: 1rem;
}
.voitures .carte .carte-body h3{
    color: #fff;
    font-size: 1.4rem;
    font-weight:bolder;
    font-style: italic;
}
.voitures .carte .carte-body{
    width: 100%; 
    height: 100%;
    left: 0;
    bottom: -100%;
    position: absolute;
    background: #1f3d4738; 
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #fff; 
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.1s;
}
.voitures .carte:hover .carte-body{
    bottom: 0;
}

/* nouveau */
.voitures .card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #fb911f;
    position: relative;
}
/* fin de nouveau  */
.expert{
    margin-top:-100px;
}
.expert .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.expert .contenu .box{
    width: 250px;
    margin: 15px;
}
.expert .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.expert .contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}
.temoignage{
    /* background-image: url(./im.voiture/Vignette.webp); */
    height: 65%;
    width: 100%;
    background-size: cover;
}
.temoignage svg{
    position: absolute;
    margin-top: 5%;
    top: 1;
    bottom: 1;
    z-index: -1;
    height: 50%;
    max-height: 1000vh;
    max-width: 190vh;
}
.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}
.temoignage .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.temoignage .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}
.temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.blanc .titre-texte{
    color: black;
}
.blanc .titre-texte,
.blanc p{
    color: black;
}
.contact{
    background-image: url(./im.voiture/ville.jpg);
    background-size: 88%;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.8);
    width: 98%;
    background-position: center;
    margin: 1%;
}
.contactform{
    padding: 75px 50px;
    background: #ffffff41;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.contact h2, .contact p{
    color: #fff;
}
.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    
}
.contactform h3{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%;
    border: 2px solid transparent;
    padding: 10px;
    color: black;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputboite input, textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px; 
    border: none; 
    border-bottom: 1px solid #fff;
    outline: none;
    background: #ffffff6e;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0, 0.1);
    background: rgba(228,222,222,);
    text-align: center;
}
.copyright p:nth-child(1){
    color: #333;
}
.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}
header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}
header.sticky .logo{
    color: #000;
}
header.sticky .navbar li a {
    color: #000;
}
header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
@media (max-width: 991px) {
header, 
header.sticky{
    padding: 10px 20px;
}
header .navbar li{
    margin-left: 0px;
}
header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}
.navbar{
    display: none;
}
section{
    padding: 20px;
}
header .navbar.active{
    width: 100%;
    height: calc(100% -68px);
    position: fixed;
    top: 68px;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    align-items: center;
}
.menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(./images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 30px;
}
.menuToggle.active
{
    background-image: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-origin: center;
}
header.sticky .menuToggle{
    filter: invert(1);
}
.banniere .contenu h2{
    font-size: 2em;
}
.row .col50 img{
    margin-left: 18%;
}
.contenu p:nth-child(2){
    font-size: 1.2em;
}
.expert{
    margin-top: 0px;
}
.menu{
    margin-top: 0px;
}
.row{
    display: flex;
    flex-direction: column;
}
.temoignage h2{
    font-size: 2em;
    text-align: center;
}
.temoignage p{
text-align: center;
}
.contactform{
    margin-left: 25%;
}
.row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .row{
        flex-direction: column;
    }
}
@media (max-width: 480px)
{
    .banniere .contenu h2{
        font-size: 2.2em;
        color: #fff;
    }
    .titre-text{
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }
    .temoignage h2 
    {
        font-size: 1.1em;
    }
    .temoignage p{
        text-align: center;
    }
}